In [1]:
import pandas as pd

# MERGE CSV

In [2]:
df1 = pd.read_csv("Resources/2019/JC-201906-citibike-tripdata.csv")
df2 = pd.read_csv("Resources/2019/JC-201907-citibike-tripdata.csv")
df3 = pd.read_csv("Resources/2019/JC-201908-citibike-tripdata.csv")

In [3]:
data = [df1, df2, df3]
df = pd.concat(data).drop_duplicates()

In [4]:
df.to_csv("Resources/2019/2019-citibike-combined.csv", index=False)

In [5]:
# Read in new csv
df = pd.read_csv("Resources/2018/2018-citibike-combined.csv")
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,329,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,259,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,686,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,164,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,769,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1

In [6]:
# Convert trip duration column from seconds to minutes
df["tripduration"] = [trip/60 for trip in df["tripduration"]]

# Rename trip duration column
df.rename(columns={"tripduration":"tripduration (min)"})

df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,5.483333,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,4.316667,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,11.433333,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,2.733333,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,12.816667,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1

In [7]:
# Drop rows without a min of 2min and where the start and end stations are the same
df = df.loc[((df["tripduration"]>2) & (df["start station id"] != df["end station id"])),:]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,5.483333,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,4.316667,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,11.433333,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,2.733333,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,12.816667,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1

In [8]:
# Filter out trips longer than 24 hours 
df = df.loc[df["tripduration"] < 1440, :]
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,5.483333,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,1
1,4.316667,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,2
2,11.433333,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,1
3,2.733333,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,1
4,12.816667,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,1

In [9]:
# Rename values in gender column with strings
gender = {0:"Unknown", 1:"Male", 2:"Female"}
df.gender = [gender[item] for item in df.gender]
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,5.483333,2018-06-01 07:07:00.2990,2018-06-01 07:12:30.2220,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,Male
1,4.316667,2018-06-01 08:24:43.8490,2018-06-01 08:29:03.8450,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,Female
2,11.433333,2018-06-01 09:17:49.5730,2018-06-01 09:29:16.1770,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,Male
3,2.733333,2018-06-01 09:44:00.4020,2018-06-01 09:46:44.6830,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,Male
4,12.816667,2018-06-01 09:59:28.7800,2018-06-01 10:12:18.6660,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127632,7.700000,2018-08-25 16:17:05.8840,2018-08-25 16:24:48.5890,3694,Jackson Square,40.711130,-74.078900,3194,McGinley Square,40.725340,-74.067622,29544,Subscriber,1990,Male
127633,10.600000,2018-08-28 12:31:22.4380,2018-08-28 12:41:59.2110,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730743,-74.063784,29544,Subscriber,1990,Male
127634,15.900000,2018-08-30 08:08:18.9250,2018-08-30 08:24:13.7900,3694,Jackson Square,40.711130,-74.078900,3183,Exchange Place,40.716247,-74.033459,29526,Subscriber,1977,Male
127635,15.333333,2018-08-31 08:08:54.2450,2018-08-31 08:24:14.8890,3694,Jackson Square,40.711130,-74.078900,3184,Paulus Hook,40.714145,-74.033552,33633,Subscriber,1977,Male
127636,16.950000,2018-08-31 12:57:23.8390,2018-08-31 13:14:20.9290,3694,Jackson Square,40.711130,-74.078900,3211,Newark Ave,40.721525,-74.046305,29288,Subscriber,1964,Male

In [10]:
df.to_csv("Resources/2019/2019-citibike-summer.csv", index=False)